<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/flickity.css" media="screen"> 
    <link rel="stylesheet" href="/css/header.css" media="screen"> 
    <link rel="stylesheet" href="/css/footer.css" media="screen"> 
</head>
<body>
  <%- include("./partials/header") %>
    
  <section class="carousel" aria-label="Gallery">

    <div class="carousel" data-flickity>
      <div class="carousel-cell">
        <img src="./img/bannerprincipal.jpg" alt="">
      </div>
      <div class="carousel-cell">
        <img src="./img/banner2principal.jpg" alt="">
      </div>
      <div class="carousel-cell">
        <img src="./img/banner3principal.jpg" alt="">
      </div>
      <div class="carousel-cell">
        <img src="./img/banner4principal.jpg" alt="">
      </div>
  </section> 

  <section class="segundaSecao">
    <% for(let card of cards2) { %>
      <div class="cardSecaoDois">
          <img src="<%= card.caminhoImagem %>" alt="">
          <p> <strong><%=card.nome%></strong> </p>
          <br>
          
          <p> <%=card.preco%></p>
          <a href="./produtos" class="vermais"> Ver mais</a>
      </div>
    <% } %>
    
  </section>
  <p>Mais Buscados na semana</p>
  <section class="terceiraSecao fonteMenor">
    <!-- Adcionando cards do banco cards -->
    <% for(let card of cards1) {%>  
      <a href="/produtoDetalhes"></a><div>
          <img src="<%= card.caminhoImagem %>" alt="">
          <p> <strong><%= card.nome %></strong> </p>
          <br>
          <p><strike>De R$ 5.780,00</strike></p>
          <p>Por R$ 3.7680,00 à vista</p>
          <p> ou 10x de R$ 425,00</p>
          <a href="./produtos" class="vermais"> Ver mais</a>
      </div></a>
    <% } %>
     
  </section>

  <section class= 'quartaSecao'>
      <div>
          <img src="./img/propaganda_bebe.jpg" alt="">
      </div>
  </section>
  <p> Mais buscados da semana</p>

  <!-- Flickity HTML init -->
  <div class="carousel2" data-flickity='{ "groupCells": true, "lazyLoad": true }'>
      <div class="carousel-cell-container" >
          <div class="carousel-cell2">
              <img class="carousel-cell2-image"
            data-flickity-lazyload="./img/iphone.jpg" alt="tulip" />
          </div>
          <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
          <p><strike>De R$ 5.780,00</strike></p>
          <p>Por R$ 3.7680,00 à vista</p>
          <p> ou 10x de R$ 425,00</p>
          <a href="./produtos" class="vermais"> Ver mais</a>
      </div>
      <div class="carousel-cell-container" >
          <div class="carousel-cell2">
              <img class="carousel-cell2-image"
            data-flickity-lazyload="./img/brinquedos.jpg" alt="tulip" />
          </div>
          <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
          <p><strike>De R$ 5.780,00</strike></p>
          <p>Por R$ 3.7680,00 à vista</p>
          <p> ou 10x de R$ 425,00</p>
          <a href="./produtos" class="vermais"> Ver mais</a>
      </div>
    <div class="carousel-cell-container" >
          <div class="carousel-cell2">
              <img class="carousel-cell2-image"
            data-flickity-lazyload="./img/vinho.png" alt="tulip" />
          </div>
          <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
          <p><strike>De R$ 5.780,00</strike></p>
          <p>Por R$ 3.7680,00 à vista</p>
          <p> ou 10x de R$ 425,00</p>
          <a href="./produtos" class="vermais"> Ver mais</a>
    </div>
    <div class="carousel-cell-container" >
          <div class="carousel-cell2">
              <img class="carousel-cell2-image"
            data-flickity-lazyload="./img/furadeira.jpg" alt="tulip" />
          </div>
          <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
          <p><strike>De R$ 5.780,00</strike></p>
          <p>Por R$ 3.7680,00 à vista</p>
          <p> ou 10x de R$ 425,00</p>
          <a href="./produtos" class="vermais"> Ver mais</a>
    </div>
    <div class="carousel-cell-container" >
          <div class="carousel-cell2">
              <img class="carousel-cell2-image"
            data-flickity-lazyload="./img/tv.png" alt="tulip" />
          </div>
          <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
          <p><strike>De R$ 5.780,00</strike></p>
          <p>Por R$ 3.7680,00 à vista</p>
          <p> ou 10x de R$ 425,00</p>
          <a href="./produtos" class="vermais"> Ver mais</a>
    </div>
    <div class="carousel-cell-container" >
          <div class="carousel-cell2">
              <img class="carousel-cell2-image"
            data-flickity-lazyload="./img/iphone.jpg" alt="tulip" />
          </div>
          <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
          <p><strike>De R$ 5.780,00</strike></p>
          <p>Por R$ 3.7680,00 à vista</p>
          <p> ou 10x de R$ 425,00</p>
          <a href="./produtos" class="vermais"> Ver mais</a>
    </div>
  
  </div>
  <%- include("./partials/footer") %>
  <!-- JavaScript -->
  <script src="/js/flickity.pkgd.min.js"></script>
</body>

</html>