<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/flickity.css" media="screen"> 
    <link rel="stylesheet" href="/css/header.css" media="screen"> 
    <link rel="stylesheet" href="/css/footer.css" media="screen"> 
</head>
<body>
  <%- include("./partials/header"); %>

  <% if (typeof(message) != 'undefined') { %>
    <h1 class="alert alert-info"><%= message %></h1>
  <% } %>
    
  <section class="carousel" aria-label="Gallery">

    <div class="carousel" data-flickity>
      <div class="carousel-cell">
        <img src="./img/bannerprincipal.jpg" alt="">
      </div>
      <div class="carousel-cell">
        <img src="./img/banner2principal.jpg" alt="">
      </div>
      <div class="carousel-cell">
        <img src="./img/banner3principal.jpg" alt="">
      </div>
      <div class="carousel-cell">
        <img src="./img/banner4principal.jpg" alt="">
      </div>
  </section> 

  <section class="segundaSecao">
    <% for(let card of cards2) { %>
      <% if (card.posicao == "2") { %>
        <div class="cardSecaoDois">
          <img src="<%= card.url %>" alt="">
          <p class= "preco"> <%=Number(card.preco).toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' })%></p>
          <p class="frete"> Frete grátis</p>
          <p class="descricaoProduto"> <%=card.nome%></p>
          <br>
          <a href="./produtodetalhes/<%= card.id %> " class="vermais"> Ver mais</a>
      </div>
      <% } %>   
    <% } %>
    
  </section>
  <!-- Flickity HTML init -->
  <div class="carousel3" data-flickity='{ "groupCells": true, "lazyLoad": true }'>
    <div class="carousel-cell-container3" >
      <div class="carousel-cell3">
        <p class="textoIcones" class="precoAtual">Frete gratis</p>
          <img class="carousel-cell2-image"
        data-flickity-lazyload="./img/2.png" alt="tulip" />
      </div>
    </div>
    <div class="carousel-cell-container3" >
      <div class="carousel-cell3">
        <p class="textoIcones" class="precoAtual">Garantia</p>
          <img class="carousel-cell2-image"
        data-flickity-lazyload="./img/3.png" alt="tulip" />
      </div>
    </div>
    <div class="carousel-cell-container3" >
      <div class="carousel-cell3">
        <p class="textoIcones" class="precoAtual">Parcele sem juros</p>
          <img class="carousel-cell2-image"
        data-flickity-lazyload="./img/4.png" alt="tulip" />
      </div>
    </div>
    <div class="carousel-cell-container3" >
      <div class="carousel-cell3">
        <p class="textoIcones" class="precoAtual">Reembolso</p>
          <img class="carousel-cell2-image"
        data-flickity-lazyload="./img/5.png" alt="tulip" />
      </div>
    </div>
    <div class="carousel-cell-container3" >
      <div class="carousel-cell3">
        <p class="textoIcones" class="precoAtual">Proteção ao crédito</p>
          <img class="carousel-cell2-image"
        data-flickity-lazyload="./img/6.png" alt="tulip" />
      </div>
    </div>
    <div class="carousel-cell-container3" >
      <div class="carousel-cell3">
        <p class="textoIcones" class="precoAtual">Jogos</p>
          <img class="carousel-cell2-image"
        data-flickity-lazyload="./img/7.png" alt="tulip" />
      </div>
    </div>
    <div class="carousel-cell-container3" >
      <div class="carousel-cell3">
        <p class="textoIcones" class="precoAtual">Cartão de crédito</p>
          <img class="carousel-cell2-image"
        data-flickity-lazyload="./img/10.png" alt="tulip" />
      </div>
    </div>
    <div class="carousel-cell-container3" >
      <div class="carousel-cell3">
        <p class="textoIcones" class="precoAtual">Atendimento</p>
          <img class="carousel-cell2-image"
        data-flickity-lazyload="./img/9.png" alt="tulip" />
      </div>
    </div>

  </div>
  <p class="divisaoSecao">AS MELHORES OFERTAS</p>
  <section class="terceiraSecao fonteMenor">
    <!-- Adcionando cards do banco cards -->
   
    <% for(let card of cards2) {%>  
      <% if (card.posicao == "3") { %>
        <a href="./produtodetalhes"></a><div>
          <img src="<%= card.url %>" alt="">
          <p class="precoAnterior"><strike>De <%= Number(card.preco).toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></strike></p>
          <p class="precoAtual">Por <%= Number(card.preco).toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></p>
          <p class="precoParcelado"> ou 10x sem juros</p>
          <p class="frete"> Frete grátis</p>
          <p class="descricaoProduto"><%= card.nome %></p>
          <br>
          <a href="./produtodetalhes/<%= card.id %>" class="vermais"> Ver mais</a>
      </div></a>
      <% } %>

    <% } %>
     
     
  </section>

  <section class= 'quartaSecao'>
      <div>
          <img src="./img/propaganda_bebe.jpg" alt="">
      </div>
  </section>
  <p class="divisaoSecao"> MAIS BUSCADOS DA SEMANA</p>

  <!-- Flickity HTML init -->
  <div class="carousel2" data-flickity='{ "groupCells": true, "lazyLoad": true }'>
    <% for(let card of cards2) { %>
      <% if (card.posicao == "carrosel footer") { %>
        <div class="carousel-cell-container" >
          <div class="carousel-cell2">
              <img class="carousel-cell2-image"
            data-flickity-lazyload=<%= card.url %> alt="tulip" />
          </div>
          <p class="precoAnterior"><strike>De <%= Number(card.preco).toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></strike></p>
          <p class="precoAtual"> Por <%= Number(card.preco).toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %> </p>
          <p class="precoParcelado"> ou 10x sem juros</p>
          <p class="frete"> Frete grátis</p>
          <p class="descricaoProduto"><%= card.nome %> </p>
          
          <a href="./produtodetalhes/<%= card.id %>" class="vermais"> Ver mais</a>
        </div>
      <% } %>

    <% } %>
  </div>
  <%- include("./partials/footer") %>
</body>
<!-- JavaScript -->
<script src="/js/flickity.pkgd.min.js"></script>
<script src="/js/header.js"></script>
</html>