<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <!-- Adcionado o Header -->
    <%- include("./partials/header") %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- ADCIONAR O HOME AQUI -->
    





    <!-- Adcionado o footer -->
    <%- include("./partials/footer") %>
  </body>
</html>
