<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Adcionado o Header -->
    <%- include("./partials/header") %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- ADCIONAR O PEDIDOS DETALHES AQUI -->
    
    




    <!-- Adcionado o footer -->
    <%- include("./partials/footer") %>
  </body>
</html>
